extends layout

block content
    div.container
        if message
            div.alert.alert-danger=message
        form(method='POST')
            div.form-group
                label.form-label Username
                input.form-control(name='username')
                span.help-text.invisible test
            div.form-group
                label.form-label password
                input.form-control(name='password' type='password')
                span.help-text.invisible

            button.btn.btn-success(type='submit') Login